[Desktop Entry]
Type=Application
Name=ToughFix
Comment=Olympus Tough camera status and TG-1 GPS assistance
Exec=/usr/bin/toughfix
Icon=toughfix
Terminal=false
Categories=Utility;
StartupNotify=true
DBusActivatable=false
